@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Movies</h1>
    <p class="lead">We have a wide range of movies.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Search Movies</h2>
        <p>
            Search all the Movies available in our store.
        </p>
        <p><a class="btn btn-default" href="~/Search/Index">Search &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Check Movies</h2>
        <p>Check only the DVDs that are available at the moment.</p>
        <p><a class="btn btn-default" href="~/DvdDetails/Index">Check &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Enjoy!</h2>
        <p>Enjoy your time browsing here.</p>
        <p><a class="btn btn-default" href="~/Home/Index">Enjoy! &raquo;</a></p>
    </div>
</div>